<!DOCTYPE html>
<html lang="es">

<head>
<title>Amigos: Fotos - FaceBluff</title>
<meta charset="utf-8"/>
<link rel="stylesheet" href="css/p1.css"/>
</head>

<body background=img\Fondo.jpg>

    <%- include("header") %>
    
    <div id="title">
        <h1 id="sectionTitle">Fotos de <%= nombre %></h1>
    </div>
    <div align="center">
    
        <table>
            <% photos.forEach(f =>{ %>
            <tr>
                <td><img src="/user/photo/<%= f.id %>" id="photos"> </td>
                <td id="descrCell"><p id="descr"><%= f.descr %></p></td>
            </tr> 
            <% }); %>
        </table> 
    </div>
    
</body>

</html>