
<header id="main-header">
<div id="log"><img id="logo" src="img\Logo.png"></div>
<div id="buttons_Perfil">
    <nav><a class="button" href="../user/profile.html">Perfil</a></nav>
    <nav><a class="button" href="../user/friends.html">Amigos</a></nav>
    <nav><a class="button" href="../questions/questions.html">Preguntas</a></nav>
    <nav><a class="button" href="../user/logout">Desconectar</a></nav>
    <span><span class="button">
            <img src="/user/imagen/<%= userId %>" id="fPerfil" >
            <%= points %> Pts    
    </span></span>
</div>
</header>