<!DOCTYPE html>
<html lang="es">

<head>
<title>Perfil - FaceBluff</title>
<meta charset="utf-8"/>
<link rel="stylesheet" href="css/p1.css"/>
</head>

<body background=img\Fondo.jpg>

    <%- include("header") %>
    
    <div id="title">
        <h1 id="sectionTitle">Tu perfil</h1>
    </div>
    
    <%- include("info_profile") %>
    <div id="options">
        <nav><a class="button_center" href="uploadPicture.html">Subir Foto</a> </nav>
        <nav><a class="button_center" href="userPhotos.html">Ver Fotos</a> </nav>
        <nav><a class="button_center" href="modifyUser.html">Modificar Usuario</a></nav>
    </div>
   

</body>

</html>