<!DOCTYPE html>
<html lang="es">

<head>
<title>Fotos - FaceBluff</title>
<meta charset="utf-8"/>
<link rel="stylesheet" href="css/p1.css"/>
</head>

<body background=img\Fondo.jpg>
    
    <%- include("header") %>

    <div id="title">
        <h1 id="sectionTitle">Modificar Usuario</h1>
    </div>
    
    <div class="principal"> 
        <form class="form_ingreso" method="post" action="/user/uploadPicture" enctype="multipart/form-data">
            <div>
                <label>Seleccione una foto</label> 
                <input type="file" name="lPicture" accept="image/*">
                <label>Introduzca una descripción: </label> 
                <input type="text" name="descr">
            </div>
            
            <input id="bConectar" type="submit" value="Subir Foto">
        </form>
    </div>

    <% if (msg !== null) { %>
        <div class="error">
            <%= msg %>
        </div>
        <% } %>
   
</body>

</html>